<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Planet info</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body class="bg-light">
<div class="container-fluid">
    <h1 class="text-success text-center">Welcome to Solar Travel!</h1>
    <div class="row">
        <div class="col">
            <h2 class="text-success">Planet information:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form th:object="${planet}">
                <img th:src="@{'/images/'+ ${planet.name} + '.png'}" />
                <div class="form-group">
                    <label class="text-success" for="planetNameReadOnly">Name:</label>
                    <input readonly th:field="${planet.name}" type="text" class="form-control" id="planetNameReadOnly">
                </div>
                <div class="form-group">
                    <label class="text-success" for="planetGravityReadOnly">Gravity:</label>
                    <input readonly th:field="${planet.gravity}" type="number" class="form-control" id="planetGravityReadOnly">
                </div>
                <div class="form-group">
                    <label class="text-success" for="planetDistanceFromEarthReadOnly">Distance:</label>
                    <input readonly th:field="${planet.distanceFromEarth}" type="number" class="form-control" id="planetDistanceFromEarthReadOnly">
                </div>
                <div class="form-group">
                    <label class="text-success" for="planetOrderInSolarSystemReadOnly">Position in Solar system:</label>
                    <input readonly th:field="${planet.orderInSolarSystem}" type="number" class="form-control" id="planetOrderInSolarSystemReadOnly">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a th:href="@{/home}" class="btn btn-info" role="button">Go to Home page</a>
        </div>
    </div>
</div>
</body>
</html>